@import-once "bootstrap/less/type";

article.blog.summary {

  cursor: pointer;

  position: relative;
  header {

    // use the permalink to make the entire block clickable
    a[rel=bookmark] {
      position: absolute;
      top: 0;
      left: -1em;
      width: 110%;
      height: 110%;

      text-indent: -100em;

      margin: -1em;
    }

    time {
      .text-muted();
      float: left;
      margin-right: .25em;

      &:after {
        content: ' – ';
      }
    }

    .series {
      display: none;
    }
  }

  h1 {
    .h3();
  }

  footer {
    ul {
      .list-unstyled();
    }

    a[rel=bookmark] {
      &:after {
        content: '...';
      }
    }
  }

}

article.blog.summary {
  border-top: 1px solid @pub-light;
  margin-top: 1.5em;

  &:first-of-type {
    border-top: none;
    margin-top: 0;
  }
}

