[submodule "css/bootstrap"]
	path = css/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "css/font-awesome"]
	path = css/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome
