<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} – Publysher Development Blog</title>
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet'
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700' rel='stylesheet'
          type='text/css'>

    {% if page.next.url %}
    <link rel="next prefetch prerender" href="{{ page.next.url }}">
    {% endif %}
    {% if page.previous.url %}
    <link rel="prev prefetch prerender" href="{{ page.previous.url }}">
    {% endif %}

    <link rel="author" href="https://plus.google.com/u/1/111509161421737611843/">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<div class="container">
    <header>
        <a href="/">Publysher</a>
    </header>

    <nav class="top-nav">
        <ul>
            <li>
                <a href="/">Blog</a>
            </li>
            <li>
                <a href="http://www.publysher.nl/">Website</a>
            </li>
            <li>
                <a href="/rss.xml">RSS</a>
            </li>
        </ul>

        <form action="http://www.google.com/search" method="GET">
            <input name="q" type="hidden" value="site:blog.publysher.nl">
            <input name="q" type="search" placeholder="Search...">
        </form>
    </nav>


    {{ content }}

</div>
<footer class="container">
    <ul class="links">
        <li>
            <a href="http://www.publysher.nl">Publysher Website</a>
        </li>
        <li>
            <a href="/rss">RSS</a>
        </li>
    </ul>
</footer>
</body>
</html>
