---
layout: default
---
<article class="blog single" itemscope itemtype="http://schema.org/BlogPosting">

    <header>
        <h1 itemprop="name">{{ page.title }}</h1>

        <p itemprop="about" class="series">{{ page.category }}</p>
        <time itemprop="datePublished" pubdate datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
        <a itemprop="url" rel="bookmark" href="{{ page.url }}/">permalink</a>
    </header>

    <div class="content" itemscope="articleBody">
        {{ content }}
    </div>

    <aside>

        {% if page.tags contains 'flash' %}
        <section class="ads">
            <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- GameDev banners -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:336px;height:280px"
                 data-ad-client="ca-pub-4602907571543068"
                 data-ad-slot="8101043828"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </section>
        {% endif %}

        {% if page.category %}
        <section class="series">
            <h2>{{ page.category }}</h2>

            <ol>
                {% for post in site.posts reversed %}
                {% assign match = false %}
                {% for category in post.categories %}
                {% if page.categories contains category %}
                {% assign match = true %}
                {% endif %}
                {% endfor %}
                {% if match %}
                <li itemscope itemtype="http://schema.org/BlogPosting" {% if post.url == page.url %} class="active"{% endif %} ><a itemprop="url" href="{{ post.url }}"><span itemprop="name">{{ post.title }}</span></a> </li>
                {% endif %}
                {% endfor %}
            </ol>
        </section>
        {% endif %}

        {% if page.repo %}
        <section class="repo" itemprop="about">
            <h2>Get the source code</h2>
            <p>
                <a href="{{ page.repo }}">Fork it on GitHub</a>
            </p>
        </section>
        {% endif %}

        {% if page.tags contains 'digital ocean' %}
        <section class="sponsor-me">
            <h2>Sponsor this blog</h2>
            <p>
                Try it out for yourself and
                <a href="https://www.digitalocean.com/?refcode=8d8ff680bec5" rel="nofollow">
                    create an account on Digital Ocean
                </a>.
            </p>
        </section>
        {% endif %}
    </aside>

    <footer>
        <ul class="timeline-nav">
            {% if page.previous.url %}
            <li class="older">
                <a rel="prev" href="{{ page.previous.url }}">Previous post</a>
            </li>
            {% endif %}
            {% if page.next.url %}
            <li class="newer">
                <a rel="next" href="{{ page.next.url }}">Next post</a>
            </li>
            {% endif %}
        </ul>
    </footer>
</article>

